@using BlazorApp1.Components.Pages
@code {
    [Parameter] public InstallationModel Model { get; set; }
}
<div class="rz-p-2">
    <div class="row rz-mb-3">
        <div class="col-md-12">
            <RadzenText TextStyle="TextStyle.Subtitle2">Username</RadzenText>
            <RadzenTextBox @bind-Value="Model.AdminUser" Placeholder="admin" Style="width: 100%;" />
        </div>
    </div>
    <div class="row rz-mb-3">
        <div class="col-md-12">
            <RadzenText TextStyle="TextStyle.Subtitle2">Email Address</RadzenText>
            <RadzenTextBox @bind-Value="Model.AdminEmail" Placeholder="admin@company.com" Style="width: 100%;" />
        </div>
    </div>
    <div class="row rz-mb-3">
        <div class="col-md-12">
            <RadzenText TextStyle="TextStyle.Subtitle2">Password</RadzenText>
            <RadzenPassword @bind-Value="Model.AdminPassword" Placeholder="••••••••••••" Style="width: 100%;" />
        </div>
    </div>
</div>
